@media screen and (max-width:576px) {
   
    header{
        height: auto;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 ;
        
    }
    .navigation{
        flex-direction: column;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
    }
    .about-section ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .goat{
        flex-direction: column-reverse;
        width: 100%;
        padding: 35px;
        
    }
    .goat-pic{
        width:100%;
        padding: 10px;
    }
    .goat-pic div{
        width: 100% ;
    }
    .goat-pic div img{
        width: 100% ;
    }
    .goat-description h1{
        font-size: 45px;
        text-align: left;
    }
    .goat-description h3{
        text-align: left;
    }
    
    .goat-description{
        width: 500px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    .game-videos-head {
        
        font-size: 16px;
    }.play-now:hover{
        margin-left: 90px;
         width: 342px;
        opacity:1;
        font-size: 20px;
        color: #fff;
        border: 1px solid #F948B2;
        border-radius: 20px;
    
    }
    
    .play-icon img{
       margin-left: 90px;
    }
    .fun-photo p{
        text-align: center;
    }
    .funny-videos{
        padding: 40px 0;
        
        
    }
    .funny-container{
        flex-direction: column;
         align-items: center; 
    }
    .section1{
        width: 100%;
        padding: 10px;
       
        
    }
   .instant-play{
    flex-direction: column;
    
    width: 100%;
    margin: 0;
   }
   .instant-play-photo{
    width: 100%;
    position: relative;
    top: -100px;
   }
   .img1{
width: 80%;
margin: 0 auto;
float: right;


   }
   .img2{
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 120px;
    height: 150px;
   }
   .instant-play-des{
    padding: 5px;
    
    
   }
   .instant-play-des h3{
    font-size: 35px;
    text-align: center;
   }
   
   .instant-play-des p,h3{
    text-align: center;
   }
   .games{
    margin-top: 10px;
    
    width: 100%;
    
    padding: 10px;
    gap:1px;
    
   }.game img{
    width: 30px;
    
   }
   .gaming{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   }
   .game{
    border-radius: 20px;
    font-weight: 200;
    gap: 5px;

   }
   .game p{
    font-size: 15px;
   }
   
   .last-stage{
    padding: 0;
    flex-direction: column;
   }
   .footer{
    padding: 50px 0;
    font-size: 20px;
    margin-top:  60 px;
    
   }
   .section{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
   }
   .icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 0;
   }
   .conditions{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    padding: 0;
   }
 }